.App-layout {
  display: flex;
  flex-direction: row;
}

.Navbar-Viewport{
  display: flex;
  flex-direction: column;
  flex: 1
}

.Main-Content {
  display: flex;
  flex-direction: row;
  padding-left: 8vw;
  /* flex: 1; */
}

.Viewport-Section {
  padding: 2rem;
}

.Viewport-Subsection {
  margin: 4vh;
  padding: 4vh;
  border: 1px solid var(--color-surface);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Viewport-Subsection:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}