@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');


.dm-serif {
  font-family: 'DM Serif Display', serif;
}

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* Root variables for Light Mode */
:root {
  --color-bg: #c3c3c3;
  --color-text: #111827;
  --color-muted: #6b7280;
  --color-border: #00a9e6; /* blue-300 */
  --color-primary: #55a8ff; /* blue-600 */
  --color-surface: #00a9e686;

  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark Mode Overrides */
.dark {
  --color-bg: #1e293b;
  --color-text: #f1f5f9;
  --color-muted: #cbd5e1;
  --color-border: #60a5fa; /* blue-400 */
  --color-primary: #60a5fa;
  --color-surface: #334155;

  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-bg);
}
