.space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: xx-large;
}

.Subtitle {
  padding-left: 0.5rem;
}

.drag-n-drop {
  min-width: 10vh;
  height: 2rem;
  border: 2px dashed black;
}